<div id="<%= dom_id biography %>">
  <p>
    <strong>Biography:</strong>
    <%= biography.biography %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= biography.quote_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= biography.author_id %>
  </p>

</div>
